@media screen and (max-width: 570px) {
    body {
        background-color: #816868 !important;
    }

    .about>article {
        font-size: smaller !important;
    }

    .name {
        font-size: large !important;
    }

    .dropdown {
        display: none;
        width: 8.5vw;
        max-width: 200px;
        border-radius: 10px;
        background-color: #4d4d4d;
        padding: 10px;
        position: fixed;
        left: -8vw;
        z-index: 1;
        border: 2px solid var(--clr1);
    }

    .dropdown>p>a:hover {
        font-size: large;
    }

    .nav:hover .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
    }

    .svg line {
        stroke: #f5f5f5;
        stroke-width: 5px;
    }

    .form {
        padding: 20px 5rem;
    }
}