* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font-B612);
  transition: all ease 200ms;
}

:root {
  --Font-B612: "B612 Mono", monospace;
  --Font-Space: "Space Mono", monospace;
  --Color-1: #f5f5f7;
  --Color-2: #d9d9d9;
  --Color-3: #2c2c2c;
}

/* Layout */

body {
  background-color: transparent;
}

p,
h3 {
  text-align: center;
}

hr {
  width: 6.7rem;
  margin: 0 auto 2rem auto;
  border: 1px solid black;
}

.section {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.5rem;
  border-bottom: 2px solid black;
  min-height: 3.5rem;
  background-color: var(--Color-2);
}

.header-nav {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-dropdown {
  display: none;
  z-index: 1;
  flex-direction: column;
}

.header-dropdown li {
  list-style-type: none;
  border-bottom: 2px solid black;
  text-align: center;
  padding-block: 0.5rem;
}

.header-dropdown li a {
   padding: inherit;
}

.header-dropdown li:hover, :focus {
   background-color: black;
   a {
      color: white;
   }

}

.section {
  min-height: 25rem;
}

.intro {
  background-color: var(--Color-1);
}

.intro article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: var(--Color-2);
}

.services-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.services-article > h3 {
  margin-bottom: 0.25rem;
}

.about-me {
  background-color: var(--Color-1);
}

.about-me .about-me_text {
  margin-bottom: 2rem;
}

.my-work {
  background-color: var(--Color-2);
}

.my-work_articles p {
  text-align: left;
}

.my-work_articles img {
  display: block;
  margin-inline: auto;
  margin-top: 0.5rem;
}

.my-work_articles {
  margin-bottom: 3rem;
  max-width: 25rem;
}

div.my-work-article-wrapper {
  margin-top: 2rem;
}

.button-cta {
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 10rem;
  text-align: center;
  border: 2px solid var(--Color-3);
}

.button-cta:hover {
  background-color: #504f4f;
}

.button-cta:active {
  background-color: var(--Color-2);
  color: var(--Color-3);
}

.footer {
  display: flex;
  min-height: 135px;
  padding: 2rem 3rem;
  background-color: var(--Color-3);
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.footer a {
  color: var(--Color-1);
}

.footer a:hover {
  color: var(--Color-2);
}

.footer-social_icons {
  display: flex;
  gap: 2rem;
}

.header-menu_open,
.header-menu_close {
  border: none;
  background-color: transparent;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-menu_open:hover,
:focus {
  cursor: pointer;
  background-color: var(--Color-1);
  border: 1px solid black;
  border-radius: 5px;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1.5rem;
}

a:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  :hover:focus-visible {
    opacity: 80%;
  }
}


/* Typography */

a {
  text-decoration: none;
  color: initial;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.button-cta {
  background-color: var(--Color-3);
  color: var(--Color-1);
}

/* Media Queries */

@media screen and (min-width: 900px) {
  .header-dropdown {
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-around;
  }
  article.hero-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
  }
  div.hero-text > p {
    font-size: 2rem !important;
  }
  div.service-article-container {
    display: flex;
    padding-inline: 8rem;
    gap: 4rem;
  }
  div.about-me-wrapper {
    display: flex;
    justify-content: safe;
    align-items: center;
    gap: 10rem;
  }
  p.about-me_text, div.about-me-head {
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  img.hero-image {
    width: 320px;
  }
  img.hero-image2 {
    width: calc(1.25*230px);
  }
  div.my-work-article-wrapper {
    display: flex;
    margin-top: 3rem;
    gap: 4rem;
  }
}